<tr>
    <td>{{ service.name }}</td>
    <td class="has-text-small">{{ service.description }}</td>
    <td>
        <button class="button is-link is-small is-rounded is-outlined" 
            hx-get="{{ url_for('admin.edit_service', service_id=service.id) }}" 
            hx-trigger="click">
            Edit
        </button>
    </td>
    <td>
        {% if service.status == service.ACTIVE %}
            {# Deactivate #}
            <button class="button is-warning is-small is-rounded" 
                hx-put="{{ url_for('admin.toggle_service_status', service_id=service.id) }}" 
                hx-trigger="click">
                Deactivate
            </button>
        {% else %}
            {# Activate #}
            <button class="button is-success is-small is-rounded" 
                hx-put="{{ url_for('admin.toggle_service_status', service_id=service.id) }}" 
                hx-trigger="click">
                Activate
            </button>
        {% endif %}
    </td>
    <td>
        {% if not service.businesses %}
            {# Delete #}
            <button class="button is-danger is-small is-rounded" 
                hx-delete="{{ url_for('admin.delete_service', service_id=service.id) }}" 
                hx-confirm="Are you sure you wish to delete this service?"
                hx-swap="outerHTML swap:1s">
                Delete
            </button>
        {% else %}
        {{ service.num_of_businesses() }} listed 
        {% endif %}
    </td>
</tr>