<tr>
    <td>{{ service.name }}</td>
    <td class="has-text-small">{{ service.description }}</td>
    <td>
        <button class="button is-link is-outlined" 
            hx-get="{{ url_for('admin.edit_service', service_id=service.id) }}" 
            hx-trigger="click">
            Edit
        </button>
    </td>
    <td>
        <button class="button is-danger" 
            hx-delete="{{ url_for('admin.delete_service', service_id=service.id) }}" 
            hx-confirm="Are you sure you wish to delete this service?"
            hx-swap="outerHTML swap:1s">
            Delete
        </button>
    </td>
</tr>