{% extends "layout.html" %}
{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-one-quarter-desktop is-hidden-tablet-only"></div>
        <div class="column is-half-desktop">
            <div class="content">
                {% include 'messages.html' %}
                <h2>Setup</h2>
                <hr>
                Added admin role.
            </div>
        </div>
        <div class="column is-one-quarter-desktop is-hidden-tablet-only"></div>
    </div>
</div>
{% endblock content %}