{% extends "layout.html" %}
{% block content %}
<section>
    <div class="hero is-primary is-small is-hidden-mobile">
        <div class="hero-body">
            <br>
            <div class="container has-text-centered">
                <h1 class="title is-1 is-family-secondary pb-3">
                    About HSHR
                </h1>
                <h2 class="subtitle is-5 is-uppercase ">
                    We are moms and birth workers
                </h2>
            </div>
            <br><br>
        </div>
    </div>
    <!-- Header for phone screen-->
    <div class="hero is-primary is-small is-hidden-tablet">
        <br>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="title is-3 is-family-secondary pb-3">
                    About HSHR
                </h2>
                <h3 class="subtitle is-6 is-uppercase">
                    We are moms and birth workers
                </h3>
            </div>
            <br>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-one-quarter-desktop is-hidden-tablet-only"></div>
        <div class="column is-half-desktop has-text-centered">

            {% include 'messages.html' %}
            <div class="content">
                <h2 class="is-family-secondary">Homebirth Support Hampton Roads</h2>
                <p>
                    Homebirth Support Hampton Roads is a group of moms and birth workers passionate about supporting families who choose to give birth outside of
                    hospitals. This website is associated with a <a href="https://www.facebook.com/groups/homebirthHR"  target="_blank">Facebook group</a> by the same name.
                    The primary purpose of this website is to provide a community-managed directory of homebirth-related
                    services available to families in southeastern Virginia.
                </p>

                <figure class="image">
                    <img src="{{ url_for('static', filename='img/camylla-battani-son4VHt4Ld0-unsplash.jpg') }}"
                        alt="Pregnant woman holding her baby bump facing the camera">
                </figure>

                <h3 id="dev" class="is-family-secondary">Developer</h3>
                <p>
                    This site is developed and maintained by <a href="https://ivanaclaudio.com">Ivana Nedeljkovich Claudio</a>, a software engineer, and Hampton Roads homebirth mom.
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}