{% extends "layout.html" %}
{% block content %}
<section>
    <div class="hero is-primary is-small is-hidden-mobile">
        <div class="hero-body">
            <br>
            <div class="container has-text-centered">
                <h1 class="title is-1 is-family-secondary pb-3">
                    About HSHR
                </h1>
                <h2 class="subtitle is-5 is-uppercase ">
                    We are moms and birth workers
                </h2>
            </div>
            <br><br>
        </div>
    </div>
    <!-- Header for phone screen-->
    <div class="hero is-primary is-small is-hidden-tablet">
        <br>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-3 is-family-secondary pb-3">
                    About HSHR
                </h1>
                <h2 class="subtitle is-6 is-uppercase">
                    We are moms and birth workers
                </h2>
            </div>
            <br>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-one-quarter-desktop is-hidden-tablet-only"></div>
        <div class="column is-half-desktop">
            <div class="content">
                {% include 'messages.html' %}
                <h2>What is Homebirth Support Hampton Roads?</h2>
                <p>
                    Homebirth Support Hampton Roads is a website associated with the Facebook group by the same name.
                    We're moms and birth workers passionate about supporting families who choose to give birth out of
                    hospitals.
                    The primary purpose of this website is to provide a community managed directory of homebirth related
                    services
                    available to families in southeastern Virginia.
                </p>

                <h2>For moms:</h2>

                <h3>How do I know which services I need?</h3>
                <p>
                    We encourage you to read the service descriptions, do your research online and offline, 
                    talk to other moms in our group, read some of our recommended books, and come to your own 
                    decisions on which services will be best for you.
                </p>

                <h3>How do I find avilable providers?</h3>
                <p>
                    Look through the directory and click on the service for which you want to find local providers. 
                    Then go through the list and contact the ones you think and feel could be the best fit for you.
                </p>

                <h2>For birth workers:</h2>

                <h3>I own a homebirth related business. How can I get listed in the directory?</h3>
                <p>
                    To list your business, you will need to do the following steps:
                    <ol>
                        <li>Create an account.</li>
                        <li>Add a business to your account.</li>
                        <li>Select in which categories you wish your business to be listed.</li>
                        <li>Publish.</li>
                    </ol>
                </p>



            </div>
        </div>
    </div>
</section>


{% endblock content %}