{% extends "layout.html" %}
{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-offset-1-desktop is-one-fifth">
            {% include 'business_header.html' %}
        </div>

        <div class="column is-three-fifths-desktop">
            <div class="content">
                {% include 'messages.html' %}
                <h2 class="title is-2">{{ business.name }}</h2>
                <hr>
                {% if business.webpage %}
                <p><span class="icon is-small mr-3">
                    <i class="fa fa-arrow-up-right-from-square"></i>
                </span> <a href="{{ business.webpage }}" target="_blank">{{ business.webpage }}</a></p>
                {% endif %}
                <p><span class="icon is-small mr-3">
                    <i class="fa fa-envelope"></i>
                </span> <a href="mailto:{{ business.email }}">{{ business.email }}</a></p>

                <div id="phones">
                {% if business.phones %}
                    {% for phone in business.phones %}
                    {% include 'phone.html' %}
                    {% endfor %}
                {% endif %}
                </div>

                <div id="addresses">
                {% if business.addresses %}
                    {% for address in business.addresses %}
                    {% include 'address.html' %}
                    {% endfor %}
                {% endif %}
                </div>
                <br><br>

                {% if business.description %}
                <p>{{ business.description|markdown }}</p>
                {% endif %}
                
            </div>
            <br>

            {% if current_user.is_authenticated and (current_user.is_owner(business.id) or current_user.has_role('admin')) %}
            <!-- Main container -->
            <nav class="level">
                    <!-- Left side -->
                <div class="level-left">

                </div>

                <!-- Right side -->
                <div class="level-right">
                    <p class="level-item">
                        <a class="button" hx-get="{{ url_for('main.add_phone', business_id=business.id) }}"
                            hx-target="#add-edit-info" 
                            hx-swap="innerHTML"
                            hx-trigger="click" _="on click toggle .is-active on #add-edit-info">
                            Add phone number
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="button" hx-get="{{ url_for('main.add_address', business_id=business.id) }}"
                            hx-target="#add-edit-info" 
                            hx-swap="innerHTML"
                            hx-trigger="click" _="on click toggle .is-active on #add-edit-info">
                            Add address
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="button" href="{{ url_for('main.edit_business', business_id=business.id) }}">
                            Edit business
                        </a>
                    </p>
                </div>
            </nav>
            <div id="add-edit-info" class="modal">
                
            </div>

            {% endif %}

            <aside class="menu">
                <p class="menu-label">
                    Members
                </p>
                <ul class="menu-list">
                    {% for member in business.members %}
                    <li>
                        <a>
                        <div class="columns is-vcentered">
                            <div class="column is-narrow is-hidden-mobile">
                                <figure class="image is-32x32">
                                    <img class="is-rounded" src="{{ url_for('static', filename='profile_pics/' + member.image_file) }}">
                                </figure>
                            </div>
                            <div class="column">
                                <span>{{ member.display_name }}</span>
                            </div>
                        </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            
        </div>
        <div class="column is-one-fifth-desktop is-hidden-tablet-only"></div>
    </div>
</div>
{% endblock content %}