<div class="block mb-0">
    <figure class="image is-square is-hidden-mobile">
        <img class="is-rounded avatar" src="{{ url_for('static', filename='profile_pics/' + business.image_file) }}">
    </figure>
</div>
<div class="card is-shadowless has-text-right has-text-left-mobile">
    <div class="card-content">
        <div class="block mb-0">
            <figure class="image is-128x128 is-hidden-tablet is-pulled-right">
                <img class="is-rounded" src="{{ url_for('static', filename='profile_pics/' + business.image_file) }}">
            </figure>
        </div>

    </div>
</div>
