<footer class="footer">
    <div class="content has-text-centered">
        <p class="is-family-secondary">
            <a href="{{ url_for('main.home') }}"><strong>Homebirth Support Hampton Roads</strong></a> © 2023
        </p>
        <div class="footer-links">
            <a class="button is-ghost" href="{{ url_for('main.about') }}" rel="noopener">
                <span class="icon">
                    <i class="fa fa-info"></i>
                </span>
                <span>About</span>
            </a>
            <a class="button is-ghost" href="{{ url_for('main.privacy') }}" rel="noopener">
                <span class="icon">
                    <i class="fa fa-paperclip"></i>
                </span>
                <span>Privacy Policy</span>
            </a> 
            <a class="button is-ghost" href="{{ url_for('main.tos') }}" rel="noopener">
                <span class="icon">
                    <i class="fa fa-legal"></i>
                </span>
                <span>Terms of Service</span>
            </a> 
            <br>
            <a class="button is-ghost" href="https://www.facebook.com/groups/homebirthHR"  target="_blank" rel="noopener">
                <span class="icon">
                    <i class="fa fa-facebook"></i>
                </span>
                <span>Facebook Group</span>
            </a>
            <a class="button is-ghost" href="mailto:support@homebirthhamptonroads.org"  rel="noopener">
                <span class="icon">
                    <i class="fa fa-envelope"></i>
                </span>
                <span>Contact</span>
            </a>
            <a class="button is-ghost" href="https://www.buymeacoffee.com/vchu" target="_blank">
                <span class="icon">
                    <i class="fa fa-coffee"></i>
                </span>
                <span>Buy Me a Coffee</span>
            </a>
        </div>
    </div>
</footer>