<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="{{ url_for('main.home') }}"><strong>Homebirth Support Hampton Roads</strong></a> © 2023
        </p>
        <div class="footer-links">
            <a class="button is-ghost" href="{{ url_for('main.about') }}" target="_blank" rel="noopener">
                <span class="icon">
                    <i class="fa fa-info"></i>
                </span>
                <span>About</span>
            </a>
            <a class="button is-ghost" href="{{ url_for('main.privacy') }}" target="_blank" rel="noopener">
                <span class="icon">
                    <i class="fa fa-paperclip"></i>
                </span>
                <span>Privacy Policy</span>
            </a> 
            <a class="button is-ghost" href="mailto:support@homebirthhamptonroads.org" target="_blank" rel="noopener">
                <span class="icon">
                    <i class="fa fa-envelope"></i>
                </span>
                <span>Contact</span>
            </a>
        </div>
    </div>
</footer>