<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/icon type">

    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}">
    {% else %}
    <link rel="canonical" href="{{ request.url }}">
    {% endif %}

    {% if description %}
    <meta name="description" content="{{ description|truncate(150) }}" />
    {% else %}
    <meta name="description" content="HSHR is a directory of homebirth providers in Hampton Roads (Virginia Beach, Norfolk, Chesapeake, Newport News, Hampton, Portsmouth, Suffolk)." />
    {% endif %}

    <script src="https://kit.fontawesome.com/dca2a3f046.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
    <title>Homebirth Support Hampton Roads | {{ title }}</title>
    {% else %}
    <title>Homebirth Support Hampton Roads</title>
    {% endif %}

    <script src="https://unpkg.com/hyperscript.org@0.9.7" integrity="sha384-6GYN8BDHOJkkru6zcpGOUa//1mn+5iZ/MyT6mq34WFIpuOeLF52kSi721q0SsYF9" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
</head>