{% extends "layout.html" %}
{% block content %}
<section>
    <div class="hero is-primary is-small is-hidden-mobile">
        <div class="hero-body">
            <br>
            <div class="container has-text-centered">
                <h1 class="title is-1 is-family-secondary pb-3">
                    Help
                </h1>
                <h2 class="subtitle is-5 is-uppercase ">
                    Your questions answered
                </h2>
            </div>
            <br><br>
        </div>
    </div>
    <!-- Header for phone screen-->
    <div class="hero is-primary is-small is-hidden-tablet">
        <br>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-3 is-family-secondary pb-3">
                    Help
                </h1>
                <h2 class="subtitle is-6 is-uppercase">
                    Your questions answered
                </h2>
            </div>
            <br>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-one-quarter-desktop is-hidden-tablet-only"></div>
        <div class="column is-half-desktop">

            {% include 'messages.html' %}

            <div class="content">

                <h2 class="is-family-secondary">Table of contents</h2>
                <ul>
                    <li>For moms
                        <ul>
                            <li><a href="#m1">How do I know which services I need?</a></li>
                            <li><a href="#m2">How do I find available providers?</a></li>
                        </ul>
                    </li>
                    <li>For birth workers
                        <ul>
                            <li><a href="#p1">I own a homebirth related business. How can I get listed in the directory?</a></li>
                            <li><a href="#p2">How are the listings sorted? Can I have my listing appear higher on the lists?</a></li>
                        </ul>
                    </li>
                    <li> General questions
                        <ul>
                            <li><a href="#g1">How can I contact you if I have a different question?</a></li> 
                            <li><a href="#g2">How can I support this website and the developer behind it?</a></li> 
                        </ul>
                    </li>          
                </ul>

                <h2 class="is-family-secondary">For moms</h2>

                <h3 id="m1">How do I know which services I need?</h3>
                <p>
                    We encourage you to read the service descriptions, research online and offline,
                    talk to other moms in our group, read some of our recommended books and websites, and come to your
                    conclusions about which services will be best for you.
                </p>

                <h3 id="m2">How do I find available providers?</h3>
                <p>
                    Browse through the directory and click on the service for which you want to find local providers.
                    Then go through the list and contact the ones you think and feel could be the best fit for you. You 
                    can also use the search function at the top of the page.
                </p>

                <figure class="image">
                    <img src="{{ url_for('static', filename='img/olivia-anne-snyder-o1XLLy7SCCY-unsplash.jpg') }}">
                </figure>

                <h2 class="is-family-secondary">For birth workers</h2>

                <h3 id="p1">I own a homebirth related business. How can I get listed in the directory?</h3>
                <p>
                    To list your business, you will need to do the following steps:
                <ol>
                    <li>Create an <a href="{{ url_for('security.register') }}" target="_blank">account</a>.</li>
                    <li>Add a business to your account.</li>
                    <li>Optionally, add contact information to the business, such as phone numbers and addresses.</li>
                    <li>Click "List services" button on your business page and select in which categories you wish your business to be listed.</li>
                    <li>Click "Publish" button to make your business visible to visitors.</li>
                </ol>
                </p>

                <h3 id="p2">How are the listings sorted? Can I have my listing appear higher on the lists?</h3>
                <p>
                    The listings are randomly sorted so that each visitor will see them in a different order. 
                    There is no plan to allow businesses to be shown with preference. The algorithm is designed to 
                    give each business equal opportunity to show up among the top results.
                </p>

                <h2 class="is-family-secondary">General questions</h2>
                <h3 id="g1">How can I contact you if I have a different question?</h3>
                <p>
                    If you have a question about the website, send us an email to 
                    <a href="mailto:support@homebirthhamptonroads.org">support@homebirthhamptonroads.org</a>.
                    </p><p>
                    For anything related to homebirth, we highly recommend you join our 
                    <a href="https://www.facebook.com/groups/homebirthHR"  target="_blank">Facebook group</a>.
                </p>

                <h3 id="g2">How can I support this website and the developer behind it?</h3>
                <p>
                    Thank you for considering supporting this website and the efforts of its <a 
                    href="{{url_for('main.about')}}#dev">developer</a>! Your generosity is greatly appreciated 
                    and helps ensure the continued maintenance and improvement of this platform. If you 
                    would like to show your support, you can make a small financial contribution by buying 
                    Ivana a coffee or several (coding takes a lot of coffee). Your contribution, no matter 
                    how big or small, goes a long way in helping us keep this website running. To proceed 
                    with your donation, simply click on the following link: <a 
                    href="https://www.buymeacoffee.com/vchu" target="_blank">Buy Me a Coffee</a>.</p>
                    <p>
                    Once again, thank you for being part of this journey and considering supporting our 
                    work. If you have any questions or encounter any issues while making a donation, please 
                    don't hesitate to contact us at <a 
                    href="mailto:support@homebirthhamptonroads.org">support@homebirthhamptonroads.org</a>.
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}