{% extends "layout.html" %}
{% block content %}
<!-- Header for big screen -->
<section>
    <div class="hero is-primary is-small is-hidden-mobile">
        <div class="hero-body">
            <br>
            <div class="container has-text-centered">
                <h1 class="title is-1 is-family-secondary pb-3">
                    Homebirth Support Hampton Roads
                </h1>
                <h2 class="subtitle is-5 is-uppercase ">
                    Helping families find the best way to bring their babies into the world
                </h2>
            </div>
            <br><br>
        </div>
    </div>
    <!-- Header for phone screen-->
    <div class="hero is-primary is-small is-hidden-tablet">
        <br>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-3 is-family-secondary pb-3">
                    Homebirth Support Hampton Roads
                </h1>
                <h2 class="subtitle is-6 is-uppercase">
                    Helping families find the best way to bring their babies into the world
                </h2>
            </div>
            <br>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="has-text-centered content">
            {% include 'messages.html' %}
            <h3 class="title is-3 is-uppercase">Directory of services</h3>
            <hr>
            <p>
                This page lists homebirth related services available in Hampton Roads area.
            </p>
            <br><br>
        </div>
        <div id="categories" class="columns is-multiline">
            {% for service in services %}
            <div class="column is-one-third-desktop is-half-tablet">
                <div class="block has-text-centered">

                    <h5 class="subtitle is-5 is-uppercase">
                        {{ service.name }}
                    </h5>
                    <hr>
                    <div class="content">
                        {{ service.description }}
                    </div>
                    <a href="#" class="button is-link is-outlined is-rounded">List providers</a>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image">
                        <img class="is-rounded" src="{{ url_for('static', filename='img/luma-pimentel-1vnB2l7j3bY-unsplash.jpg') }}">
                    </figure>
                </div>
                <div class="column">
                    <div class="content mx-5">
                        {% if current_user.is_authenticated %}
                        <p class="title">
                            List your business
                        </p>
                        <p class="subtitle">
                            Create your business page and have it included in our directory.
                        </p>
                        <a class="button is-link" href="#">Create your business</a>
                        {% else %}
                        <p class="title">
                            List your business
                        </p>
                        <p class="subtitle">
                            Create an account and get your business included in our directory to help expectant families find your services.
                        </p>
                        <a class="button is-link" href="{{ url_for('security.register') }}">Start here</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}