<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

    {% include 'navbar.html' %}

    <!-- Header for big screen -->
    <section class="hero is-primary is-medium is-medium-with-navbar is-hidden-mobile">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1">
                    Homebirth Support Hampton Roads
                </h1>
                <h2 class="subtitle is-4">
                    Directory of homebirth services
                </h2>
            </div>
        </div>
    </section>
    <!-- Header for phone screen-->
    <section class="hero is-primary is-large is-hidden-tablet">
        <div class="hero-body">
            <br /><br />
            <div class="container has-text-centered">
                <h1 class="title is-3">
                    Homebirth Support Hampton Roads
                </h1>
                <h2 class="subtitle is-6">
                    Directory of homebirth services
                </h2>
            </div>
        </div>
    </section>

 


    {% block content %}{% endblock %}

    {% include 'footer.html' %}

</body>

</html>