<!-- Navigation bar -->
<nav class="navbar is-primary is-fixed-top">
    <div class="navbar-brand">
      <div class="navbar-burger burger" _="on click toggle .is-active on me and .navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbar" class="navbar-menu is-light">
      <div class="navbar-end">
        <a class="navbar-item" href="#about">
          <span class="icon">
            <i class="fa fa-info"></i>
          </span>
          <span>About</span>
        </a>
        <a class="navbar-item" href="#services">
          <span class="icon">
            <i class="fa fa-bars"></i>
          </span>
          <span>Birth stories</span>
        </a>

        <a class="navbar-item" href="#portfolio">
          <span class="icon">
            <i class="fa fa-envelope"></i>
          </span>
          <span>Contact</span>
        </a>
        <a class="navbar-item" href="#contact">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
          <span>Log in</span>
        </a>
      </div>
    </div>
  </nav>