<!-- Navigation bar -->
<nav class="main-nav navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('main.home') }}">
        <h5 class="is-5 is-uppercase is-family-secondary">HSHR</h5>
      </a>
      <div role="button" class="navbar-burger"
        _="on click toggle .is-active on me then toggle .is-active on .navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="I'm looking for...">
            </div>
            <div class="control">
              <a class="button is-link">
                <span class="icon"><i class="fa fa-search"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        
        <!-- <a class="navbar-item" href="#about">
          <span class="icon">
            <i class="fa fa-pencil"></i>
          </span>
          <span>Blog</span>
        </a>
        <a class="navbar-item" href="#services">
          <span class="icon">
            <i class="fa fa-bars"></i>
          </span>
          <span>Birth stories</span>
        </a> -->

        {% if current_user.has_role('admin') %}
        <a class="navbar-item" href="{{ url_for('admin.home') }}">
            Admin
        </a>
        {% endif %}
        
        {% if current_user.is_authenticated %}
          {% if current_user.businesses %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Businesses</a>
            <div class="navbar-dropdown">
              {% for business in current_user.businesses %}
              <a class="navbar-item" href="{{ url_for('main.business', business_url=business.url) }}">
                {{ business.name }}
              </a>
              {% endfor %}
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ url_for('main.new_business') }}">
                Add a business
              </a>
            </div>
          </div>
          {% else %}
          <a class="navbar-item" href="{{ url_for('main.new_business') }}">
            Add a business
          </a>
          {% endif %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
              <div class="mx-1 is-hidden-touch">
                <figure class="image is-32x32 avatar-small">
                  <img class="is-rounded"
                    src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
                </figure>
              </div>
              <span>{{ current_user.display_name }}</span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ url_for('users.dashboard') }}">
              Dashboard
            </a>
            <a class="navbar-item" href="{{ url_for('users.account') }}">
              Account
            </a>
            <a class="navbar-item" href="{{ url_for('security.logout') }}">
              Log out
            </a>
          </div>
        </div>

        {% else %}
        <div class="buttons">
          <a class="button is-link" href="{{ url_for('security.register') }}">
            <strong>Sign up</strong>
          </a>
          <a class="button is-primary" href="{{ url_for('security.login') }}">
            Log in
          </a>
        </div>

        {% endif %}
      </div>
    </div>
  </div>
</nav>