<div class="modal-background"></div>
<div class="modal-content mx-0">
    <!-- Any other Bulma elements you want -->
    <div class="modal-card mx-0">
        <header class="modal-card-head">
            <p class="modal-card-title">Add phone</p>
            <button class="delete" aria-label="close" _="on click toggle .is-active on #add-edit-info"></button>
        </header>
        <section class="modal-card-body">
            <form id="new-phone" hx-post="{{ url_for('main.add_phone', business_id=business_id) }}"
                hx-swap="beforeend settle:1s" hx-target="#phones">
                {{ form.hidden_tag() }}
                {% if form.errors.items() %}
                <div class="notification is-danger">
                    There were errors with your input. Please review the form and try again.
                </div>
                {% endif %}
                <div class="field">
                    <label class="label">{{ form.phone_number.label }} </label>
                    {% if form.phone_number.errors %}
                    {{ form.phone_number(class="input is-danger") }}
                    <div class="help is-danger">
                        {% for error in form.phone_number.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.phone_number(class="input", placeholder="757 555-1234 #1111") }}
                    {% endif %}
                </div>
                <nav class="level is-mobile ">
                    <div class="level-left"></div>
                    <div class="level-right">
                        <div class="level-item" _="on click toggle .is-active on #add-edit-info">
                            {{ form.submit(class="button is-primary") }}
                        </div>
                    </div>
                </nav>
            </form>
        </section>
    </div>
</div>