{% extends "layout.html" %}
{% block content %}
<section>
    <div class="hero is-primary is-small is-hidden-mobile">
        <div class="hero-body">
            <br>
            <div class="container has-text-centered">
                <h1 class="title is-1 is-family-secondary pb-3">
                    HSHB Privacy Policy
                </h1>
                <h2 class="subtitle is-5 is-uppercase ">
                    We respect your right to online privacy
                </h2>
            </div>
            <br><br>
        </div>
    </div>
    <!-- Header for phone screen-->
    <div class="hero is-primary is-small is-hidden-tablet">
        <br>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-3 is-family-secondary pb-3">
                    HSHB Privacy Policy
                </h1>
                <h2 class="subtitle is-6 is-uppercase">
                    We respect your right to online privacy
                </h2>
            </div>
            <br>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-one-quarter-desktop is-hidden-tablet-only"></div>
        <div class="column is-half-desktop">
            <div class="content">
                <h2>Information Collection and Use</h2>
            
                <p>At Homebirth Support Hampton Roads, we understand the importance of privacy and are committed to protecting your personal information. This privacy policy applies to all users of our site and explains what data we collect and how we use it.</p>

                <h3>Data Collection</h3>

                <ul>
                    <li><strong>Information you give us:</strong> This includes the informaton you provide while creating an account (name, email address, password), information related to your business (names, addresses, phone numbers, emails, descriptions), or the reviews for businesses.</li>
                    <li><strong>Website traffic created by your browser while you are using our site:</strong>
                        We may track the number of visitors, times and lengths of visits, pages visited, and browser and referrer of the visitor. This data is collected through the analytics provided by our hosting service, and it is not related to your personal information in any way.
                    </li>
                </ul>
                
                <h3>Use of Data</h3>

                <ul>
                    <li>We use the data collected primarily to provide our service and for internal record keeping.</li>
                    <li>We may use the data collected to improve our services.</li>
                    <li>We may use the email address you provided to send you updates about the website, services offered, changes in policies, or other information which we think you may find interesting. You may unsubscribe from such emails at any time.</li>
                    <li>We do not sell or share any of your data with third parties, except as required by law. We may use third-party services to process data, but take appropriate measures to ensure the security of your data.</li>
                </ul>
                
                <h3>Data Security</h3>
                
                <p>We take the security of your data seriously and have implemented appropriate technical and physical measures to protect against unauthorized access, alteration, or destruction of their data.</p>
                
                <h3>User Control</h3>
                
                <p>You have the right to access, correct, delete, or restrict the processing of your personal data. While you should be able to manage most of your data on our site by yourself, you could also make a request for us to do it for you. To make a request, please contact us at <a href="mailto:support@homebirthhamptonroads.org" target="_blank">support@homebirthhamptonroads.org</a>.</p>
                
                <h3>Changes to This Privacy Policy</h3>
                
                <p>We may update this privacy policy from time to time, and will notify you of any changes by posting the updated policy on our site. If you have any questions or concerns about our privacy policy, please contact us at <a href="mailto:support@homebirthhamptonroads.org" target="_blank">support@homebirthhamptonroads.org</a>.</p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}