{% extends "layout.html" %}
{% block content %}

<div class="section">
    <div class="container">
        <br><br>
        <div class="columns">
            <div class="column is-hidden-touch"></div>
            <div class="column is-three-fifths-desktop">
                <div class="box">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            <legend class="is-size-3 mb-3">Create an account</legend>
                            <div class="field">
                                {{ form.username.label(class="label") }}

                                {% if form.username.errors %}
                                {{ form.username(class="input is-danger", autocomplete="username") }}
                                <div class="help is-danger">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.username(class="input", autocomplete="username") }}
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.email.label(class="label") }}
                                {% if form.email.errors %}
                                {{ form.email(class="input is-danger", autocomplete="email") }}
                                <div class="help is-danger">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="input", autocomplete="email") }}
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.password.label(class="label") }}
                                {% if form.password.errors %}
                                {{ form.password(class="input is-danger", autocomplete="new-password") }}
                                <div class="help is-danger">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="input", autocomplete="new-password") }}
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.confirm_password.label(class="label") }}
                                {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="input is-danger", autocomplete="new-password") }}
                                <div class="help is-danger">
                                    {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.confirm_password(class="input", autocomplete="new-password") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="field mt-2">
                            <div class="control">
                                {{ form.submit(class="button is-primary") }}
                            </div>
                        </div>

                    </form>
                    <hr>
                    <div class="border-top pt-3">
                        <small class="has-text-weight-light">
                            Already have an account? <a class="ml-2" href="{{ url_for('users.login') }}">Log in</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="column is-hidden-touch"></div>
        </div>
    </div>
</div>
{% endblock content %}