{% extends "layout.html" %}
{% block content %}
<section>
    <div class="hero is-primary is-small is-hidden-mobile">
        <div class="hero-body">
            <br>
            <div class="container has-text-centered">
                <h1 class="title is-1 is-family-secondary pb-3">
                    HSHR Terms of Service
                </h1>
                <h2 class="subtitle is-5 is-uppercase ">
                    Please be kind so we can get along
                </h2>
            </div>
            <br><br>
        </div>
    </div>
    <!-- Header for phone screen-->
    <div class="hero is-primary is-small is-hidden-tablet">
        <br>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-3 is-family-secondary pb-3">
                    HSHR Terms of Service
                </h1>
                <h2 class="subtitle is-6 is-uppercase">
                    Please be kind so we can get along
                </h2>
            </div>
            <br>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-one-quarter-desktop is-hidden-tablet-only"></div>
        <div class="column is-half-desktop">
            <div class="content">
                {% include 'messages.html' %}
                <p>Welcome to Homebirth Support Hampton Roads, a website dedicated to helping families find the best resources for their homebirth. We want to foster a supportive and honest community, where users can share their businesses and find the services they need.</p>

                <p>To ensure a safe and friendly environment, we ask that all users be kind and respectful towards each other. Any content that is illegal, explicit, inaccurate, or doesn't fit with our community guidelines may be removed at our discretion.</p>

                <p>Users retain their intellectual property rights, but by posting content on our site, they give us permission to display it.</p>

                <p>Please note that users access and use our site at their own risk. We cannot guarantee the accuracy or reliability of any content posted by other users, and we are not responsible for any loss of data or damage that may result from the use of our site.</p>

                <p>Disclaimer of Endorsement: The inclusion of any business listing on this website does not constitute an endorsement, approval, or recommendation by Homebirth Support Hampton Roads or its operators. We provide a platform for businesses to showcase their services, but we do not endorse or guarantee the quality, safety, legality, or suitability of any business listed on our website. Users of this website are encouraged to conduct their own research, due diligence, and assessment before engaging with any listed business. Homebirth Support Hampton Roads and its operators disclaim any responsibility or liability for the actions, products, or services provided by businesses listed on this platform.</p>
                
                <p>If you have any concerns or disputes, please reach out to us via email <a href="mailto:support@homebirthhamptonroads.org" target="_blank">support@homebirthhamptonroads.org</a> or through our <a href="https://www.facebook.com/groups/homebirthHR"  target="_blank">Facebook group</a>. Similarly, we reserve the right to terminate any user account at any time for any reason.</p>

                <p>We reserve the right to change these Terms of Service in the future, and it is your responsibility to check back and make sure you still agree.</p>

                <p>Thank you for being a part of our community!</p>
            
            </div>
        </div>
    </div>
</section>


{% endblock content %}