////////////////////////////////////////////////
// LUX
////////////////////////////////////////////////


$green: #c2fcd8;
$cyan: #c2e7fc;
$red: #fcc2d0;
$yellow: #fcf8c2;
$dark: #28262c;


$primary: #998fc7 !default;
$link: #d4c2fc;

$family-sans-serif: "Nunito", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$family-secondary: 'Merienda', cursive;

$bulmaswatch-import-font: true !default;

