////////////////////////////////////////////////
// LUX
////////////////////////////////////////////////


$green: #c2fcd8;
$cyan: #c2e7fc;
$red: #fcc2d0;
$yellow: #fcf8c2;
$orange: #ebca39;
$dark: #28262c;


$primary: #998fc7 !default;
//$link: #d4c2fc;
$link: #a43d93;
// #f0c808 #ebca39
// Byzantine #B0419D like magenta
// indigo #2A4B6F

$family-sans-serif: "Nunito", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$family-secondary: 'Merienda', cursive;

$bulmaswatch-import-font: true !default;

