{% extends "layout.html" %}
{% block content %}
<div class="section">
    <div class="container">
        <br><br>
        <div class="columns">
            <div class="column is-hidden-touch"></div>
            <div class="column is-three-fifths-desktop">
                {% include 'messages.html' %}
                <div class="box is-fullwidth">
                    <form action="{{ url_for_security('forgot_password') }}" method="post" name="forgot_password_form">
                        {{ forgot_password_form.hidden_tag() }}
                        <fieldset>
                            <legend class="is-size-3 mb-3">{{ legend }}</legend>
                            <div class="field">
                                {{ forgot_password_form.email.label(class="label") }}
                                {% if forgot_password_form.email.errors %}
                                {{ forgot_password_form.email(class="input is-danger", autocomplete="email") }}
                                <div class="help is-danger">
                                    {% for error in forgot_password_form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <p class="control has-icons-left">
                                    {{ forgot_password_form.email(class="input", autocomplete="email") }}
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </p>
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="field mt-4">
                            <div class="control">
                                {{ forgot_password_form.submit(class="button is-primary") }}
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="border-top pt-3">
                        <small class="has-text-weight-light">
                            Need an account? <a class="ml-2" href="{{ url_for('security.register') }}">Sign up</a>
                        </small>
                    </div>
                </div>

            </div>
            <div class="column is-hidden-touch"></div>
        </div>
    </div>
</div>
{% endblock content %}